body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 32px;
    background-color: #ffe4e1;
  }
  header {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    clip-path: polygon(20% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
  }
  
  h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-align: center;
    font-size: 100px;
    color: #afeeee;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  h3{
    font-size:larger;
    font-family: 'Economica', sans-serif;
    display: flex;
    justify-content: center;
  }

  label{
    font-family: 'Economica', sans-serif;
  }

  #wrap {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
  }


  #save {
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-family: 'Montserrat Subrayada', sans-serif;
    cursor: pointer;
    border-radius: 0.5em;
  }

  #save:hover{
    background: #add8e6;
    color: #fff;
  }

  .save_btn{
    margin:15px;
  }

  .container {
    width: 50%;
    border: 5px solid #20b2aa; 
    border-radius: 1em;
    margin-left: 25%;
    padding: 30px; 
    }

